section {
    // position: relative;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    transform: skewY(-6deg);

    & > * {
        transform: skewY(6deg);
    }
}

.header {
    position: relative;
    height: 95vh;
    /*background-image: linear-gradient(
        to right bottom, 
        rgba(var(--color-primary-light), 0.6) 50%,
        rgba(var(--color-primary-dark), 0.7)), 
    url("../img/bg1.jpg");*/
    background-image: linear-gradient(
        to right bottom, 
        rgba(#3E64E1, 0.6) 50%,
        rgba(#7A15B5, 0.7)),
        url("../img/bg1.jpg");
    background-size: cover;
    background-position: top;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &__text-box {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.section-download {
    background-color: var(--color-gray-light-1);
    padding: 8rem 0 6rem 0;
    margin-top: -7rem; 
    display: flex;
    justify-content: center;
    align-items: start;

    &__phone-img {
        flex: 0 0 50%; 
        height: 65rem;
        perspective: 150rem;
        position: relative;
    }

    &__text-box {
        padding: 0 4rem 0 10rem;
        flex-basis: 50%;
        margin-top: 8rem;
        margin-right: -20rem;
        backface-visibility: hidden;
    }
}

.section-feature {
    background-color: var(--color-gray-light-1);
    padding: 15rem 0;
    z-index: 0;
    //margin-top: -2rem;
    text-align: center;
    background-image: linear-gradient(
        to right bottom, 
        rgba(#3E64E1, 0.6) 50%,
        rgba(#7A15B5, 0.7)),
        url("../img/bg-section-featurs.jpg");
    background-size: cover;
    background-position: top;
    overflow: hidden;

        &__row {
            display: flex;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
         }
}


.section-about {
    padding: 8rem 0;
    min-height: 50rem;
    text-align: center;
    background-image: linear-gradient(
        to right bottom, 
        rgba(#3E64E1, 0.6) 50%,
        rgba(#7A15B5, 0.7)),
        url("../img/city.jpg");
        background-size: cover;

    &__about-us {
        width: 60%;
        margin: 0 auto;
    }

    &__team {
        margin-top: 8rem;

        .row {
            margin-bottom: 3rem;
        }
    }
}

.section-form{
    // margin-top: -20rem;
    min-height: 50rem;
    padding: 25rem 15rem;
}

.book{
    margin: 0 auto;

    background-image:linear-gradient(105deg ,rgba(#fff , .5) 0%
                                            ,rgba(#fff , .5) 50%
                                            ,rgba(#0a071f , .9) 50%)
                                            ,url("../img/bg1.jpg");
    background-size: cover;
    height: 50rem;
    border-radius: 4px;
    box-shadow: 0 1rem 1rem rgba(black ,.2);

    &__form{
        width: 50%;
        padding: 6rem;


        &-heading{
            display: inline-block;
            text-align: center;
            font-size: 3rem;
           
        }
    }
}
.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
        
    }

    &__input{
        color: #000;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 2px;
        border: none;
        background-color: rgba(#fff , .7);
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .7s;


        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba(#000 , .1);
            border-bottom: 3px solid #3E64E1;
        }

        &:focus:invalid{
            border-bottom: 3px solid rgb(172, 87, 87);
        }
        &::-webkit-input-placeholder{
            color: #999;
        }
    }

    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        margin-top: .7rem;
        margin-right: .7rem;
        transition: all .7s;
        color: rgb(224, 220, 220);
    }
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
   
}
#submit{
    width: auto;
    background-color: #7A15B5;
    color: #fff;

    &:hover{
        background-color: #3E64E1;
    }
}
